*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clear {
	clear: both;
}

.common-h5 {
	color: #3b3663;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 7px;
}

.common-h2 {
	color: #3b3663;
	font-size: 30px;
	line-height: 38px;	
}

.text-center {
	text-align: center;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

a {
	font-family: 'Rubik';
	font-weight: 400;
}

.active {
	color: #ee4b0b !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito';
    font-weight: 800;
}

p {
	font-family: 'Rubik';
	font-weight: 400;
}

/*header*/

header {
	z-index: 1;
	position: relative;
}

.nav-col{
	float: left;
	width: 75%;
}

.cnt-info-col{
	float: right;
	text-align: right;
	width: 25%;
}

.logo{
	float: left;
	width: 30%;
}

.menu{
	float: right;
	width: 70%;
}

.logo img{
	width: 180px;
	margin-top: -30px;
	margin-left: -10px;
}
.menu a {
	text-decoration: none;
	padding: 22px;
	display: inline-block;
	color: black;
	transition: all 0.5s ease;
}
.menu a:hover {
	color: #ee4b0b;
}
.cnt-info-col a {
	color: black;
	text-decoration: none;
	margin-top: 23px;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	transition: all 0.5s ease;
}
.cnt-info-col a:hover {
    color: #ee4b0b;
}
section.header-bg-parent {
	position: relative;
	top: -125px;
}
.header-col1 {
	float: left;
	width: 35%;
	position: absolute;
	top: 25%;
	margin-left: 11%;
}
.header-col2 {
	float: right;
	background-image: url(../images/supermarket.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: -85px;
	height: 100vh;
	width: 75%;
}
.header-col1 h5{
	color: #17161b;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}
.header-col1 h2{
	color: #3b3663;
	font-size: 40px;
	}

.header-col1 h2{
	color: #3b3663;
	font-size: 40px;
	line-height: 43px;
	margin: 21px 0px 15px;
}
.header-col1 p {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	margin: 20px 0px 0px;
}
button.common-btn {
	background: linear-gradient(90deg, #8b81ef,#6759e8);
	padding: 10px 20px;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-family: "Nunito";
	font-weight: 800;
	cursor: pointer;
	transition: all 0.5s ease;
	margin: 20px 0px;
}
button.common-btn:hover {
	background: linear-gradient(180deg, #6759e8 ,#8b81ef);
	}
section.header-bg-parent:after {
	content: "SEO";
	position: absolute;
	color: #fafbfc;
	top: 250px;
	left: -140px;
	font-size: 230px;
	transform: rotate(-90deg);
	font-family: "Rubik";
	font-weight: 800;
	letter-spacing: 5px;
	z-index: -1;
}

.header-bg-par-img {
	position: absolute;
	bottom: -110px;
}



/*featuer par*/

.feature-col-par {
	background-color: #fcfcfc;
	padding: 80px 0px;
	margin-top: 40px;
}

.feature-col {
	float: left;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #fff;
	padding: 30px;
	box-shadow: 2px 2px 10px #fefefe;
	border-radius: 13px;
	transition: all 0.5s ease;
	height: 265px;
}

.feature-col:hover {
	background-color: #3b3663;
}

.feature-col:hover h3 {
	color: #fff;
}

.feature-col:hover h4 {
	color: #fff;
}

.feature-col h3 {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.feature-col img {
	width: 80px;
	height: 80px;
	margin: 30px 0px;
}

.feature-col h4 {
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	color: #4d4d4d;
	margin-bottom: 20px;
}



/*why choose us*/

.why-choose-col {
	float: left;
	width: 50%;
	padding-top: 100px;
}

.count-col {
	float: right;
	width: 50%;
}

.stat{
	float: left;
	width: 30%;
}

.stat-info-par{
	float: right;
	width: 70%;
}

.why-choose-col p {
	color: #696687;
	font-size: 16px;
	line-height: 28px;
	font-family: "Rubik";
	font-weight: 400;
	padding: 13px 100px 0px 0px;
}

.milestone-counter {
	margin: 25px;
}

.highlight {
	color: #3b3663;
	padding-top: 20px;
	font-family: "Nunito";
	font-weight: 800;
	font-size: 56px;
	overflow: hidden;
	display: block;
	position: relative;
}

.highlight:after {
	content: "+";
	color: #f47a14;
	position: absolute;
	top: 10px;
	right: 29px;
	font-size: 30px;
}

.stat-info-div p {
	color: #3B3663;
	font-size: 16px;
	font-weight: 400;
	font-family: "Rubik";
	padding: 20px 0px;
}

.stat-info-sub-par {
	margin: 50px 0px 40px;
}

.stat-info-div {
	position: relative;
}

.stat-info-div:before {
	content: "s";
	border-color: 1px solid #ddd;
	position: absolute;
	height: 85px;
	font-size: 0;
	left: -14px;
}
	
section#why-choose-us {
	margin-top: 60px;
}

/*contact*/

#contact-us {
	background-image:url(../images/contact.jpeg);
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0px;
}

.form-par {
    background-image: linear-gradient(
45deg
, #6759e8, transparent);
    padding: 30px 40px;
    width: 80%;
    margin: 0 auto;
}

.form-com {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px 10px;
}

.form-par h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: 'NUNITO';
    margin-bottom: 25px;
}

input.submit-btn {
    color: #fff;
    border: none;
    background-image: linear-gradient(
180deg
,#17161b 0%, #4d4d4d 100%);
    padding: 14px 40px;
    margin: 20px auto 0px;
    display: block;
	cursor:pointer;
	transition: all 0.5s ease;
}
input.submit-btn:hover {
    
    background-image: linear-gradient(
180deg
,#4d4d4d 0%, #17161b 100%);
    
}
