/*
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

.clear {
	clear: both;
}
*/
.text-center{
	text-align: center;
}
/*
.container{
	max-width: 1330px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
    overflow: hidden;
}
.active {
    color: #ee4b0b !important;
}

.fixed-header {
	position: fixed;
	width: 100%;
	z-index: 99;
	left: 0;
	top: 0;
	background-color: #fff;
	box-shadow: 10px 10px 20px #fff;
}
header {
	z-index: 1;
	position: relative;
	
}
.nav-col{
	float: left;
	width: 75%;
}
.cnt-info-col{
	float: right;
	text-align: right;
	width: 25%;
}
.logo{
	float: left;
	width: 30%;
}
.menu{
	float: right;
	width: 70%;
}
.logo img{
	width: 180px;
    margin-top: -30px;
    margin-left: -10px;
}
.menu a {
	text-decoration: none;
	padding: 22px;
	display: inline-block;
	color: #4d4d4d;
	transition: all 0.5s ease;
}
.menu a:hover {
	color: #ee4b0b;
}

.cnt-info-col a {
	color: black;
	text-decoration: none;
	margin-top: 23px;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	transition: all 0.5s ease;
}
.cnt-info-col a:hover {
    color: #ee4b0b;
}
*/
section.header-bg-parent {
    height: 90vh;
	width: 100%;
}
.header-bg-parent img{
   /* background-image: linear-gradient(rgba(241, 201, 181, 0.600),rgba(241, 201, 181, 0.600)),url(../static/I1.jpg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
	width: 100%;
    opacity: 0.4;
    
}
.container1{
    position: relative;
    width: 360px;
    height: 400px;
    margin: 8% auto;
    background: #ffcfb9;
    border-radius: 5px;
    overflow :hidden;
    margin-top: -550px;

}
h3{
    text-align: center;
    margin-bottom: 30px;
    color: #777;
}
.container1 form{
    width: 280px;
    position:absolute;
    top: 100px;
    left: 50px;
    transition: 00.5s;
}
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder{
    color: #777;
}
.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}
select{
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    height: 80px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    background-color: #f8f8f8;
    resize: none;
}
#Form2{
    left: 450px;
}
#Form3{
    left: 450px;
}
.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}
.step-col{
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}
#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #ff105f, #ffad06);
   transition: 1s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;

}
p.copyright-footer {
	text-align: center;
	padding: 20px 20px;
}
hr.footer-hr {
	margin: 60px 0px 20px;
    margin-top: -40px;
}